<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
    <meta name="description" content="Magnus Lixenstrand is a full-stack developer based in Jönköping, Sweden.">
    <meta name="keywords"
        content="Magnus Lixenstrand, full-stack developer, Jönköping, Sweden, front-end, back-end, web development, programming">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XVMGYMNKLV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-XVMGYMNKLV');
    </script>

    <title>About Magnus</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>

<body>



    <section id="header">


        <nav>
            <div class="nav-bar">
                <div class="nav-menu">
                    <ul>
                        <li class="logoName">
                            <a href="{{ url_for('home') }}">
                                <img src="{{ url_for('static', filename='icon/house-solid.svg') }}" alt="Home"
                                    class="colorful" style="height: 1.8rem; width: auto; vertical-align: middle;">
                            </a>
                        </li>

                        <li> <a href="{{ url_for('home') }}#projects"> Projekt </a> </li>

                        <li><a href="{{ url_for('about_page') }}"> Om </a> </li>

                        <li><a href="{{ url_for('home') }}#contact"> Kontakt </a></li>

                        <li>
                            <a href="https://www.linkedin.com/in/magnus-lixenstrand" target="_blank"
                                aria-label="LinkedIn">
                                <img src="{{ url_for('static', filename='icon/linkedin.svg') }}" class="fa-"
                                    alt="LinkedIn">
                            </a>
                        </li>

                        <li>
                            <a href="https://github.com/lixenstrand" target="_blank" aria-label="Github">
                                <img src="{{ url_for('static', filename='icon/square-github.svg') }}" class="fa-"
                                    alt="Github">
                            </a>
                        </li>

                        <li><a href="{{ url_for('get_cv', filename='magnus_lixenstrand_cv.pdf') }}" target="_blank"
                                class="button button-pulse">CV</a></li>

                    </ul>
                </div>
            </div>

            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='icon/house-solid.svg') }}" alt="Home" class="home-mobile"
                    style="height: 1.8rem; width: auto; vertical-align: middle;">
            </a>

            <div class="hamburger">

                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>

            </div>

        </nav>

    </section>

    <section id="hero">

        <div class="hero-text">
            <h1 class="aboutMeHeader">Kort om <span class="smallScreenCapitalize">mig</span></h1>
        </div>

        <div class="arrow"></div>
        <br>

    </section>

    <div class="gradient"></div>


    <div class="aboutBackground">

        <section id="projects">



            <article id="first">

                <div class="text">
                    <div class="blackBox" data-aos="fade-right" data-aos-offset="400">
                        <p>Jag bor i Jönköping och har arbetat inom försäljning i över ett decennium. Mitt intresse för
                            teknik har
                            alltid varit en betydande del av mitt liv, och jag använder ofta teknologi för att lösa
                            personliga utmaningar
                            och utmaningar jag stöter på i mitt yrkesliv, ofta handlar det om att automatisera uppgifter
                            för att spara tid
                            och pengar. Nyligen har jag beslutat att omfamna denna passion ytterligare genom att studera
                            både
                            frontend- och backend-utveckling.</p>
                        <p>En annan stor passion i livet är att resa, vilket jag gärna gör med min sambo. Det som lockar
                            är att ha äventyr
                            och upptäcka andra kulturer runt om i världen.</p>
                        <p>Min iver att lära mig nya saker och min ovilja att ge upp inför en utmaning definierar vem
                            jag är.</p>


                    </div>


                    <h4 class="favoritTech" data-aos="fade-bottom" data-aos-offset="400">Favorit teknologier:</h4>
                    <ul data-aos="fade-bottom" data-aos-offset="405">
                        <li>
                            Javascript |
                        </li>
                        <li>
                            Python
                        </li>
                    </ul>

                    <h4 class="hobbies" data-aos="fade-bottom" data-aos-offset="410">Mina hobbies:</h4>
                    <ul data-aos="fade-bottom" data-aos-offset="415">
                        <li>
                            Resa |
                        </li>
                        <li>
                            Koda |
                        </li>
                        <li>
                            Träna |
                        </li>
                        <li>
                            Läsa
                        </li>

                    </ul>


                    <img data-aos="fade-left" data-aos-offset="400"
                        src="{{ url_for('static', filename='images/IMG_0830.jpg') }}" alt="A picture of the author" />
                </div>
            </article>
        </section>

    </div>





    <div class="gradient"></div>




    <section class="footer">

        <footer>

            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/magnus-lixenstrand" target="_blank" aria-label="LinkedIn">
                        <img src="{{ url_for('static', filename='icon/linkedin.svg') }}" class="fa-" alt="LinkedIn">
                    </a>
                </li>
                <li>
                    <a href="https://github.com/lixenstrand" target="_blank" aria-label="Github">
                        <img src="{{ url_for('static', filename='icon/square-github.svg') }}" class="fa-" alt="Github">
                    </a>
                </li>

            </ul>

            <p>
                <smal>&copy; 2024 Magnus Lixenstrand. All rights reserved.</smal>
            </p>

        </footer>

    </section>



    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{{ url_for('static', filename='js/about.js') }}"></script>

</body>

</html>