 @font-face {
    font-family: 'Oxygen Mono';
    src: url('../fonts/OxygenMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url('../fonts/Oxygen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url('../fonts/Oxygen-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --black: #0D0D0D;
    --dkblue: #73321A;
    --plum: #A68877;
    --hotmag: #BF6836;
    --magenta: #D9C7B8;
    --aqua: #D9965B;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: "Oxygen", sans-serif;
}




html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
   padding: 0;
   margin: 0;
  font-family: var(--mono);
  font-weight: 400;
  font-style: normal;
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}



.gradient-project {
    background: linear-gradient(90deg, var(--dkblue), var(--magenta));
    padding: 2px;
    text-align: center;
   /* color: var(--white);*/
  }


.gradient {
  background: linear-gradient(90deg, var(--dkblue), var(--magenta));
  padding: 2px;
  text-align: center;
 /* color: var(--white);*/
}


.gradientTheOtherWay {
    background: linear-gradient(90deg, var(--magenta), var(--aqua));
    padding: 2px;
    text-align: center;
   /* color: var(--white);*/
  }
  


h1, h2, h3 {
  margin: 0;
}

a {
  color: var(--magenta)
}

a:hover {
  color: var(--hotmag);
  text-decoration: none;
}



/*nav styles */

nav {

    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem;
      
    }
    
    nav h1 a {
    
    font-family: var(--sans);
    
    
    }
    
    nav ul {
      
      list-style: none; 
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
    
    nav li:first-child {
    
    flex-basis: 100%;
    text-align: center;
    
    }

    nav .fa- {
        height: 2rem;
        width: auto;
        vertical-align: middle;
        filter: invert(86%) sepia(25%) saturate(179%) hue-rotate(345deg) brightness(95%) contrast(81%);
    }

    nav .colorful {
        filter: invert(86%) sepia(25%) saturate(179%) hue-rotate(345deg) brightness(95%) contrast(81%);
        position: relative;
        top: -6px;
    }
    
    nav h1 [class*="fa-"] {
      font-size: 100%;
      color: var(--aqua);
    }
    
    
    
    
    nav a {
    
    color: var(--white);
      text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    nav a:hover,
    nav .fa-:hover {
      color: var(--hotmag);
    }

    nav .fa-:hover {
      filter: invert(60%) sepia(6%) saturate(5175%) hue-rotate(334deg) brightness(78%) contrast(90%)
    }

 nav .colorful:hover {
       filter: invert(60%) sepia(6%) saturate(5175%) hue-rotate(334deg) brightness(78%) contrast(90%)
    }

    
    
    .button {
    
    background-color: deepskyblue;
      padding: 0.25rem;
      border-radius: 5px;
      color: var(--black);
        border: none;
    }
    
    .button:hover {
    
    color: var(--black);
    background-color: var(--hotmag);
    }


.button-pulse {
  animation: pulse 2s infinite 1s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0 0 powderblue;
    will-change: transform;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 18px rgba(255, 255, 255, 0);
  }
}
    


/*intro style */


#intro {
   
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p {
font-family: var(--mono);
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
}

.name span {
  
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
}

#intro h2 {
  font-size: 4rem;
  font-weight: normal;
}






/* Projects styles */


.projectBackground {

    background-color: var(--dkblue);
    }

    article {
      padding-bottom: 2rem;
    }
    
    #projects {
      padding: 4rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
    }
    
    
    #projects h1 {
     font-size: 2.5rem;
     margin-bottom: calc(2.5rem * 1.5);
    }
    
    #projects h3 {
    color: var(--aqua);
     margin: 0;
     font-family: var(--mono)
    }
    
    #projects h4 {
      font-size: 1rem;
      font-family: var(--mono);
    }
    
    .blackBox {
    background-color: var(--black);
    padding: 1rem;
    border-radius: 10px;
    color: var(--white);
    font-size: 1rem;
    line-height: 1.5;
    -webkit-box-shadow: 1px 15px 31.5px -6px #000000;
    -moz-box-shadow: 1px 15px 31.5px -6px #000000;
    box-shadow: 1px 15px 31.5px -6px #000000;
    }
    
    #projects ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
    font-family: var(--mono);
    }
    
    #projects img {
    
    margin: 2rem 0 4rem 0;
    border-left: 1px solid var(--aqua);
    border-top: 1px solid var(--aqua);
    border-radius: 25px;
     padding: 1rem;
     -webkit-box-shadow: 1px 15px 31.5px -6px #000000;
     -moz-box-shadow: 1px 15px 31.5px -6px #000000;
     box-shadow: 1px 15px 31.5px -6px #000000;
    }


    
    #first img  {
        width: 100%;
    }

    #second img {
        width: 100%;
    }

    #third img {
        width: 100%;
    }


    @media (min-width: 550px) {
        article {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            gap: 1rem;
        }

        #projects #first img {
            grid-column: 1 / 6;
            grid-row: 1/2;
           
        }
        #first .text {
            grid-column: 5/11;
            grid-row: 1/2;
            order: 2;
            text-align: right;
            font-family: var(--mono)
        }
        #projects #first ul {
            justify-content: flex-end;
        }

        #projects #second img {
            grid-column: 5 / 11;
            grid-row: 1/2;
        }

        #second .text {
            grid-column: 1/6;
            grid-row: 1/2;
            order: 1;
            text-align: left;
            font-family: var(--mono)
        }
        #projects #second ul {
            justify-content: flex-start;
        }

        #projects #third img {
            grid-column: 1 / 6;
            grid-row: 1/2;
           
        }
        #third .text {
            grid-column: 5/11;
            grid-row: 1/2;
            order: 2;
            text-align: right;
            font-family: var(--mono)
        }
        #projects #third ul {
            justify-content: flex-end;
        }

    

    }
    




/* contact styles */

#contact {
background-color: var(--aqua);
padding: 1rem 1rem;
}


#contact h2 {
text-align: center;
padding: 2rem;
font-size: 2rem;
color: var(--black);
}


#contact p {
text-align: center;
font-family: var(--mono);
margin: 0 auto;
width: 400px;
padding: 2rem;
font-size: 1.5rem;
color: var(--black);
}



.button-wiggle {
  animation: wiggle 4s 2s infinite ease-in-out;
    will-change: transform;
}

@keyframes wiggle {
	5%,
	50% {
		transform: scale(1) translateZ(0);;
	}
	10% {
		transform: scale(0.9) translateZ(0);;
	}
	15% {
		transform: scale(1.15) translateZ(0);;
	}
	20% {
		transform: scale(1.15) rotate(-5deg) translateZ(0);;
	}
	25% {
		transform: scale(1.15) rotate(5deg) translateZ(0);;
	}
	30% {
		transform: scale(1.15) rotate(-3deg) translateZ(0);;
	}
	35% {
		transform: scale(1.15) rotate(2deg) translateZ(0);;
	}
	40% {
		transform: scale(1.15) rotate(0) translateZ(0);;
	}
}






.contactPopUp {
     background-color: deepskyblue;
     display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    padding: 1rem 5rem;
    border-radius: 10px;
    color: var(--black);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: bold;
    margin: 0 auto 2rem auto;
    cursor: pointer;
    transition: .5s all ease-in-out;
    transform: translateZ(0);
}

.contactPopUp:hover {
  background-color: var(--hotmag);
  color: var(--black);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);

}


#contact p:last-child {
  margin-top: 3rem;
}




/* footer styles */

footer {
  padding: 8rem 1rem 2rem 1rem;
  font-family: var(--mono);
  font-size: 80%;
  color: var(--white);
}


footer h1  {
font-family: var(--sans);

text-align: center;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


footer .fa- {
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
flex-flow: row wrap;
justify-content: center;
gap: 3rem;
font-size: 3rem;
    height: 3rem;
        width: auto;
        vertical-align: middle;
        filter: invert(86%) sepia(25%) saturate(179%) hue-rotate(345deg) brightness(95%) contrast(81%);
    }



footer a {
    text-decoration: none; /* Tar bort understrykningen från länkar */
  }

footer .fa-:hover {
 color:  var(--hotmag);
    filter: invert(60%) sepia(6%) saturate(5175%) hue-rotate(334deg) brightness(78%) contrast(90%);

 list-style-type: none;
text-decoration: none; 

}

footer p {
text-align: center;
}






@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}


/* popup styles */

.custom-popup {
    background-color: #0D0D0D !important;
    border-radius: 10px;
    color: white !important;
    font-family: 'Oxygen Mono', monospace;
    font-size: 1.3rem;
       -webkit-box-shadow: 1px 15px 31.5px -6px #000000;
     -moz-box-shadow: 1px 15px 31.5px -6px #000000;
     box-shadow: 1px 15px 31.5px -6px #000000;

}

.custom-confirm-button {
    background-color: #BF6836 !important;
    border: none;
}

.custom-cancel-button {
    background-color: var(--aqua) !important;
    color: white; !important;
}

.swal2-input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #BF6836;
    border-radius: 5px;
    padding: 0.5rem;
    font-family: 'Oxygen Mono', monospace;
    color: white !important;
    background-color: #0D0D0D !important;
    
}

.swal2-textarea {
    font-family: 'Oxygen Mono', monospace;
    font-size: 1.3rem;
    color: white;
    border: 1px solid #BF6836;
}

/* Lägg till din font-definition någonstans i din CSS */
@font-face {
    font-family: 'Oxygen Mono';
    src: url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Oxygen:wght@300;400;700&display=swap") format('truetype');
}



@media (max-width: 600px) {
    .swal2-popup {
        font-size: 1rem !important; /* Använd rem istället för px för bättre skalning */
        width: 90% !important; /* Bredden ska vara en procentandel av skärmen */
        max-width: 300px !important; /* Öka maxbredden om det behövs */
        box-sizing: border-box; /* Se till att padding och border räknas in i bredden */
    }

    .swal2-title {
        font-size: 1.2rem !important; /* Öka lite för bättre läsbarhet */
    }

    .swal2-content {
        font-size: 0.9rem !important; /* Något mindre för innehållet */
    }

    .swal2-styled.swal2-confirm,
    .swal2-styled.swal2-cancel {
        font-size: 0.9rem !important; /* Något mindre för knapparna */
    }

    .swal2-input,
    .swal2-textarea {
        font-size: 0.9rem !important; /* Mindre fontstorlek på input och textarea */
        padding: 0.4rem !important; /* Minska padding för att spara utrymme */
    }

    /* Eventuella ytterligare stiljusteringar för andra SweetAlert2-komponenter */
}


/* Media queries för mobilskärmar */
@media screen and (max-width: 600px) {
    #projects {
        /* Justera bredden och kanske padding för att maximera utrymmet */
        width: 100%;
        padding: 0 10px;
    }


    #projects .text,
    #projects img {
        /* Gör text och bilder staplade istället för sida vid sida */
        width: 100%;
        padding: 10px 0;
    }

    .gradient-project,
    .gradient,
    .gradientTheOtherWay {
        /* Se till att gradient-bakgrundarna sträcker sig full bredd */
        width: 100%;
    }

    .blackBox {
        /* Justera bredden och kanske padding för att maximera utrymmet */
        width: 100%;
        padding: 10px;
    }

    /* Det kan också vara viktigt att ställa in max-width på bilder så att de inte sträcker sig utanför sina behållare */
img {
    max-width: 100%;
    height: auto;
}
}
